.ipynb_checkpoints/Generate_Time_Graphs-checkpoint.ipynb
.ipynb_checkpoints/Proposal-checkpoint.ipynb
.ipynb_checkpoints/Logistic Regression -checkpoint.ipynb
.ipynb_checkpoints/scratch 2-checkpoint.ipynb
.ipynb_checkpoints/Scratch File Logistic model-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/__init__-checkpoint.ipynb
.ipynb_checkpoints/Untitled1-checkpoint.ipynb